<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Foro{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <header>
        <img src="" alt="logo">
        <h1>Foro</h1>
        {%  if is_granted("ROLE_USER") %}
            Hi{{  app.user.username }}<a href="/logout">desconectarse</a>
         {% else %}
            <a href="/login">login</a>
        {% endif %}
    </header>

    {% block navegacion %}

    {% endblock %}
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}


    <footer>
        <p>Copiright</p>
        <a href=""><img src="" alt=""></a>
        <a href="{{ path('ultimas-publicaciones') }}">Volver al inicio</a>
    </footer>
</body>
</html>